.App {
  text-align: center;
  background: rgb(55,55,55);
  background: radial-gradient(circle at top left, rgba(55,55,55,1) 10%, rgba(28,28,28,1) 45%); 
  background-size:cover;
  height: 100vh;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #262626;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  color:  #a5d6a7;
}

.LoginHeader {
  padding-top: 5vh;
  padding-bottom: 2vh;
}

.MuiToolbar-root {
  background-color: #222222;
}